{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}{{ question.title}} {% endblock %}

{% block body %}

    <h1>page {{ question.title }}</h1>
=======
{% block title %}{{ title}} {% endblock %}

{% block body %}

    <h1>page {{ title }}</h1>
>>>>>>> origin-old/main
{% endblock %}
