{% for type,message in app.flashes %}

    <div class="alert alert-{{ type }} text-center container w-50">
        {{ message| join('.') }}
    </div>
    <style>

        alert-error{
            background-color: orangered;
        }
        alert-success{
            background-color: greenyellow;
        }
    </style>
{% endfor %}