{% extends 'question/admin/base.html.twig' %}

{% block title %}Créer un Service{% endblock %}

{% block body %}
    <div class="container ">
        <h1>Créer un Service</h1>

        {{ form(form) }}

    </div>
{% endblock %}
