{% extends 'service/admin/base.html.twig' %}

{% block title %}Modifier un Service{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier le Service</h1>

        {{ form(form) }}
    </div>
{% endblock %}
