{% extends 'question/user/base.html.twig' %}

{% block title %}À propos de nous | Blog Decathecs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .team-member {
            text-align: center;
            margin-bottom: 30px;
        }
        .team-member img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
        .team-member h4 {
            margin-top: 10px;
            font-size: 1.25rem;
            font-weight: 500;
        }
        .team-member p {
            font-size: 1rem;
            color: #6c757d;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">À propos de nous</h1>
    <p class="text-center">Nous sommes une équipe passionnée par la technologie et dédiée à offrir les meilleurs services à nos clients. Voici les membres de notre équipe :</p>

    <div class="row">
        <div class="col-md-4 team-member">
            <img src="https://via.placeholder.com/150" alt="Gabriel Nomo">
            <h4>Gabriel Nomo</h4>
            <p>Fondateur et Développeur Principal</p>
            <p>Gabriel est le fondateur de Blog Decathecs et un développeur passionné. Il dirige le développement de produits et la stratégie technologique de l'entreprise.</p>
        </div>
        <div class="col-md-4 team-member">
            <img src="https://via.placeholder.com/150" alt="Vuideu Franc">
            <h4>Vuideu Franc</h4>
            <p>Responsable des Opérations</p>
            <p>Vuideu gère les opérations quotidiennes de l'entreprise, s'assurant que tout fonctionne sans accroc et que les clients reçoivent un service de qualité.</p>
        </div>
        <div class="col-md-4 team-member">
            <img src="https://via.placeholder.com/150" alt="Nguepssi Brayane">
            <h4>Nguepssi Brayane</h4>
            <p>Responsable Marketing</p>
            <p>Nguepssi est responsable du marketing et des communications. Il se charge de promouvoir nos services et d'élargir notre portée sur le marché.</p>
        </div>
    </div>
{% endblock %}
