{# templates/response/question.html.twig #}
{% extends '/response/base.html.twig' %}

{% block body %}
    <div class="container w-75 my-5">
        <h1 class="mb-4">Réponses pour "{{ question.title }}"</h1>

        <div class="mb-4">
            <a class="btn btn-primary" href="{{ path('blog.response.default.create') }}">Ajouter une réponse</a>
        </div>

        <ul class="list-group">
            {% for response in responses %}
                <li class="list-group-item">
                    <a href="{{ path('blog.response.default.show', { 'id': response.id }) }}">
                        {{ response.content }}
                    </a>
                </li>
            {% else %}
                <li class="list-group-item">Aucune réponse trouvée</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
