{% extends 'question/admin/base.html.twig' %}

{% block title %}User Management{% endblock %}

{% block body %}
    <div class="container p-5">
        <div class="title-section mb-4">Welcome administrator <strong>{{ username }}</strong>. view and edit rules on your website</div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.getUsername() }}</td>
                    <td class="role-{{ user.getRoles()[0]|lower }}">
                        {% if user.getRoles()[0] == 'ROLE_USER' %}
                            User
                        {% elseif user.getRoles()[0] == 'ROLE_ADMIN' %}
                            Admin
                        {% elseif user.getRoles()[0] == 'ROLE_SUPER_ADMIN' %}
                            SUPERADMIN
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ path('blog.administration.edit_role', { id: user.id }) }}" method="post" class="d-inline">
                            <div class="form-group">
                                <select name="role" class="form-select">
                                    <option value="0" {% if user.getRoles()[0] == 'ROLE_USER' %}selected{% endif %}>User</option>
                                    <option value="1" {% if user.getRoles()[0] == 'ROLE_SUPER_ADMIN' %}selected{% endif %}>SUPERADMIN</option>
                                    <option value="2" {% if user.getRoles()[0] == 'ROLE_ADMIN' %}selected{% endif %}>Admin</option>
                                </select>
                                <button type="submit" class="btn btn-info mt-2">
                                    <i class="fa fa-save"></i> Save
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        /* Ajoutez ces styles à votre fichier CSS */
        .role-role_user {
            background-color: #d4edda; /* Vert clair */
        }

        .role-role_admin {
            background-color: #cce5ff;
        }

        .role-role_super_admin {
            background-color: #e2d9f3;
        }

        .table th, .table td {
            vertical-align: middle;
        }
        .title-section {
            background-color:#d4edda;
        }

        }

    </style>
{% endblock %}
